.menuleiste {
    position: absolute;
    z-index: 2;
    margin: 0 auto;
    left: 0;
    right: 0;
    bottom: 1.5rem;
    width: 90vw;
    max-height: 80%;
    background-color: whitesmoke;
    padding: 0.5rem;
    opacity: .8;
}